<div *ngIf="groupId">

    <!-- <mat-table [dataSource]="orders | async">
        <ng-container matColumnDef="customer">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.company.name}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->

    <table border="1" align="center">
        <thead>
            <th>Kunde</th>
            <th>Fertig bis</th>
            <th>Bestellung</th>
            <th>Erledigt</th>
        </thead>

        <tbody>
            <tr *ngFor="let order of orders | async">
                <td>{{order.customer.rank}} {{order.customer.name}}</td>
                <td>{{order.dateTo | date: 'dd.MM.yyyy hh:mm'}}</td>
                <td>
                    <span *ngFor="let orderline of order.orderLines">{{orderline.amount}} {{orderline.description}}
                        <br /></span>
                </td>
                <td><button (click)="SetOrderDone(order);">Erledigt</button></td>
            </tr>
        </tbody>
    </table>

</div>